@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@keyframes passing-through {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30%, 70% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30% {
    opacity: 1;

    transform: translateY(0px);
  }
}

@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  30% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(1.1);
  }
  20% {
    transform: scale(1);
  }
}

[data-control="file-js"] {
  // basic.css
  &, & * {
    box-sizing: border-box;
  }

  & {
    position: relative;
  }

  & .dz-preview {
    position: relative;
    display: inline-block;
    margin: 0;
  }

  & .dz-preview .dz-progress {
    display: block;
    height: 15px;
    border: 1px solid #aaa;
  }

  & .dz-preview .dz-progress .dz-upload {
    display: block;
    height: 100%;
    width: 0;
    background: green;
  }

  & .dz-preview .dz-error-message {
    color: red;
    display: none;
  }

  & .dz-preview.dz-error .dz-error-message, & .dz-preview.dz-error .dz-error-mark {
    display: block;
  }

  & .dz-preview.dz-success .dz-success-mark {
    display: block;
  }

  & .dz-preview .dz-error-mark, & .dz-preview .dz-success-mark {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 16px;
    height: 16px;
  }

  // dropzone.css
  & {
    min-height: 150px;
    border: 2px dashed color(gray, 300);
    padding: 0 20px;
  }


  &.dz-clickable {
    cursor: pointer;
  }

  &.dz-clickable * {
    cursor: default;
  }

  &.dz-clickable .dz-message, &.dz-clickable .dz-message * {
    cursor: pointer;
  }

  &.dz-started .dz-message {
    display: none;
  }

  &.dz-drag-hover {
    border-style: solid;
  }

  &.dz-drag-hover .dz-message {
    opacity: 0.5;
  }

  & .dz-message {
    text-align: center;
    margin: 2em 0;
  }

  & .dz-preview {
    position: relative;
    display: block;
    vertical-align: top;
    margin: 0;
    min-height: 50px;
    margin-bottom: 10px;
  }

  & .dz-preview:hover {
    z-index: 1000;
  }

  & .dz-preview:hover .dz-details {
    opacity: 1;
  }

  & .dz-preview.dz-file-preview .dz-image {
    display: none;
  }

  & .dz-preview.dz-file-preview .dz-details {
    opacity: 1;
  }

  & .dz-preview.dz-image-preview {
    background: white;
  }

  & .dz-preview.dz-image-preview .dz-details {
    transition: opacity 0.2s linear;
  }

  & .dz-preview .dz-remove {
    font-size: 14px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: none;
  }

  & .dz-preview .dz-remove:hover {
    text-decoration: underline;
  }

  & .dz-preview:hover .dz-details {
    opacity: 1;
  }

  & .dz-preview .dz-details {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    font-size: 13px;
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    color: rgba(0, 0, 0, 0.9);
    line-height: 150%;
  }

  & .dz-preview .dz-details .dz-size {
    font-size: 12px;
  }

  & .dz-preview .dz-details .dz-filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & .dz-preview:hover .dz-image img {
    transform: scale(1.05, 1.05);
    filter: blur(8px);
  }

  & .dz-preview .dz-image img {
    display: block;
  }

  & .dz-preview.dz-success .dz-success-mark {
    animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  }

  & .dz-preview.dz-error .dz-error-mark {
    opacity: 1;
    animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  }

  & .dz-preview .dz-success-mark svg path {
    fill: color(green, 500);
  }

  & .dz-preview .dz-error-mark svg path {
    fill: color(red, 500);
  }

  & .dz-preview .dz-success-mark, & .dz-preview .dz-error-mark {
    opacity: 0;
    pointer-events: none;
    z-index: 500;
    position: absolute;
    display: block;
    top: 0;
    right: 0;
  }

  & .dz-preview .dz-success-mark svg, & .dz-preview .dz-error-mark svg {
    display: block;
    width: 16px;
    height: 16px;
  }

  & .dz-preview.dz-processing .dz-progress {
    opacity: 1;
    transition: all 0.2s linear;
  }

  & .dz-preview.dz-complete .dz-progress {
    opacity: 0;
    transition: opacity 0.4s ease-in;
  }

  & .dz-preview:not(.dz-processing) .dz-progress {
    animation: pulse 6s ease infinite;
  }

  & .dz-preview .dz-progress {
    opacity: 1;
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 80px;
    height: 10px;
    background: rgba(255, 255, 255, 0.9);
    overflow: hidden;
    transform: translateX(-50%);
  }

  & .dz-preview .dz-progress .dz-upload {
    background: #333;
    background-color: color(blue, 500);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: width 300ms ease-in-out;
  }

  & .dz-preview.dz-error .dz-error-message {
    display: block;
  }

  & .dz-preview.dz-error:hover .dz-error-message {
    opacity: 1;
    pointer-events: auto;
  }

  & .dz-preview .dz-error-message {
    pointer-events: none;
    z-index: 1000;
    position: absolute;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 8px;
    font-size: 13px;
    top: 130px;
    left: -10px;
    width: 140px;
    background: #be2626;
    background: linear-gradient(to bottom, #be2626, #a92222);
    padding: 0.5em 1.2em;
    color: white;
  }

  & .dz-preview .dz-error-message:after {
    content: '';
    position: absolute;
    top: -6px;
    left: 64px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #be2626;
  }
}

[data-control="file-js.fallback"] {
  display: none;
}

.dz-browser-not-supported {
  & [data-control="file-js.fallback"] {
    display: inherit;
  }
  & + [data-control="file-js.legend"] {
    display: none;
  }
}

.tiFyField-fileJsContainer {
  position: relative;
}

.tiFyField-fileJs {
  min-height: 150px;
  border: 2px dashed #E2E8F0;
  padding: 0 20px;
  z-index: 1;
}

.tiFyField-fileJsLegend {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  color: color(gray, 500);
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
}