.tiFyFindPosts-box .spinner {
    top: 0;
}

[data-control="findposts"] {
    position: relative;
}

[data-control="findposts"] > input {
    padding-right: 30px;
    margin: 0;
    width: 100%;
    background-color: #FFF;
    box-shadow: none;
}

[data-control="findposts"] > button {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 30px;
    padding: 0;
    display: block;
    z-index: 1;

    background-color: #F4F4F4;
    border: 1px solid #ddd;
    display: block;
    text-indent: -9999em;
    overflow: hidden;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

[data-control="findposts"] > button::before {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    margin-top: -10px;
    width: 26px;
    display: block;
    content: "\f179";
    font: 400 20px/1 Dashicons;
    color: #7eb4ea;
    z-index: 2;

    text-align: center;
    text-indent: 0;
}