@import "../../../theme/scss/styles";

/** STYLES DE CONTROLE (recommandé)) */
[data-control="repeater"],
[data-control="repeater"] > * {
    box-sizing: border-box;
}

/** STYLES GENERAUX */
.FieldRepeater-item {
    position: relative;
    border: solid 1px #E4E4E4;
    background-color: #FFF;
}

.FieldRepeater-itemContent {
    padding: 10px 25px;
}

.FieldRepeater-itemSort {
    position: absolute;
    top: 50%;
    left: 4px;
    z-index: 3;
    color: #999;
    cursor: move;
    display: block;
    font-weight: 700;
    padding: 2px 0;
    margin: 0;
    -webkit-transform: translateY(-50%) rotate(90deg);
    -moz-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    -o-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

.FieldRepeater-itemPlaceholder {
    background-color: #F9F9F9;
    border: dashed 2px #DDD;
}