.FileManager-actionFormField--name {
  position: relative;
}

.FileManager-actionFormExt {
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  font-style: italic;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  background-color: color(gray, 200);
  border-left: solid 1px color(gray, 400);
}