.FileManager-finfo {
  border-bottom: solid 1px color(gray, 300);
}

.FileManager-finfoPreview {
  position:relative;
  display: block;
  margin: 10px auto;
  width: 100%;
  height: 150px;
}

.FileManager-finfoPreview .FileManager-spinner {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index:1;
}

.FileManager-finfoHandlers {
  margin: 5px 0;
  border-bottom: solid 1px color(gray, 300);
  text-align:right;
}

.FileManager-finfoHandler {
  display:inline-block;
  padding:5px;
  z-index:10;
}

.FileManager-finfoHandlerLink {
  font-size: 11px;
  color: color(gray, 900);
}

.FileManager-finfoHandlerLink:active,
.FileManager-finfoHandlerLink:focus,
.FileManager-finfoHandlerLink:hover {
  color: color(gray, 700);
}


.FileManager-finfoAttrs {
  margin-bottom: 20px;
}

.FileManager-finfoAttr {
  font-size: 12px;
  line-height: 1.6;
  border-bottom: dotted 1px color(gray, 300);
}

.FileManager-finfoAttrLabel {
  margin: 0;
  display: inline-block;
  width: 40%;
}

.FileManager-finfoAction {
  margin-bottom: 15px;
}

.FileManager-finfoActionButton {
  text-align: center;
}