.FileManager {
  position: relative;
  height: 800px;
  background-color: color(white);
  color: color(gray, 900);
  border: solid 1px color(gray, 300);
  z-index:1;
}

// TITRE
.FileManager-title {
  font-size: 18px;
  color: color(gray, 900);
}

// BOUTONS
.FileManager-button {
  display: inline-block;
  border: solid 2px color(gray, 900);
  background-color: color(white);
  color: color(gray, 900);
  font-weight: bold;
  padding: 5px 20px;
}

.FileManager-button:hover,
.FileManager-button:focus,
.FileManager-button:active {
  background-color: color(gray, 900);
  color: color(white);
}

.FileManager-button:hover *,
.FileManager-button:focus *,
.FileManager-button:active * {
  color: color(white);
}

.FileManager-button--valid {
  border: none;
  background-color: color(green, 600);
  color: color(white);
}

.FileManager-button--valid:hover,
.FileManager-button--valid:focus,
.FileManager-button--valid:active {
  background-color: color(green, 500);
}

.FileManager-button--cancel {
  border: none;
  background-color: color(red, 600);
  color: color(white);
}

.FileManager-button--cancel:hover,
.FileManager-button--cancel:focus,
.FileManager-button--cancel:active {
  background-color: color(red, 500);
}

.FileManager-button--toggle[aria-visible="true"] {
  display: none;
}

// ACTIONS
.FileManager-action {
  position: relative;
  margin-bottom: 15px;
}

.FileManager-action .FileManager-title {
  color: color(gray, 900);
  font-weight: bold;
  text-align: center;
  padding: 5px 0;
  border-bottom: none;
}

.FileManager-action--toggleable {
  display: none;
}

.FileManager-actionNotices {
  font-size: 13px;
  line-height: 1.4;
  text-align: center;
}

.FileManager-actionClose {
  position: absolute;
  top: 0;
  right: 0;
  color: color(gray, 900);
  line-height: 1;
}

.FileManager-actionClose:active,
.FileManager-actionClose:focus,
.FileManager-actionClose:hover {
  color: color(gray, 700);
}

// ACTIONS > FORMULAIRE
.FileManager-actionFormFields {
  margin-bottom: 10px;
}

.FileManager-actionFormButtons {
  text-align: center;
}

// CONTENU DU REPERTOIRE
.FileManager-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  width:calc(100% - 300px);
}

.FileManager-contentHeader {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  height: 50px;
  line-height: 50px;
  background-color: color(white);
  border-bottom: solid 1px color(gray, 300);
}

.FileManager-contentHeader .FileManager-switcher {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0 10px;
  line-height: 50px;
  border-left: solid 1px color(gray, 300);
}

.FileManager-contentBody {
  position: absolute;
  top: 50px;
  right: 0;
  bottom: 50px;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
}

.FileManager-content.load::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

/**
 * Liste des fichiers
 */
.FileManager-contentFileList > * {
  box-sizing: border-box;
}

.FileManager-contentFileList::before,
.FileManager-contentFileList::after {
  display: table;
  content: "";
}

.FileManager-contentFileList::after {
  clear: both;
}

.FileManager-contentFileList {
  margin: 0;
  padding: 0;
}

.FileManager-contentFile {
  display: block;
  margin: 0;
  padding: 0;
}

.FileManager-contentFileLink {
  color: color(gray, 900);
}

.FileManager-contentFileLink:active,
.FileManager-contentFileLink:focus,
.FileManager-contentFileLink:hover {
  color: color(gray, 900);
}

.FileManager-contentFileLink {
  position: relative;
  text-decoration: none;
}

.FileManager-contentFilePreview {
  position: relative;
  overflow: hidden;
}