.FileManager-switcher {
  margin:0 -5px;
}

.FileManager-switcher::after,
.FileManager-switcher::after {
  display: table;
  content: "";
}
.FileManager-switcher::after {
  clear:both;
}

.FileManager-switch {
  float:left;
  padding:0 5px;
}

.FileManager-switchLink {
  color:color(gray, 500);
}

.FileManager-switchLink:active,
.FileManager-switchLink:focus,
.FileManager-switchLink:hover{
  color:color(gray, 900);
}

.FileManager-switch.selected  .FileManager-switchLink{
  color:color(gray, 900);
}