[data-control="file-manager.content"][data-view="grid"] {

  & .FileManager-contentFileList {
    margin: 0 -10px;
  }

  & .FileManager-contentFile {
    float: left;
    padding: 10px;
  }

  & .FileManager-contentFileLink {
    display: block;
    width: 200px;
    height: 200px;
    border: solid 1px color(gray, 300);
    text-align: center;
    overflow: hidden;
    background-color:color(white);
  }

  & .FileManager-contentFile.selected .FileManager-contentFileLink {
    border: solid 1px color(gray, 400);
  }

  & .FileManager-contentFile.selected .FileManager-contentFileLink {
    color: color(gray, 900);
    background-color: color(gray, 300);
  }

  & .FileManager-contentFileAttr {
    display:none;
  }

  & .FileManager-contentFileAttr--preview {
    display: block;
    margin: 10px auto;
    width: 150px;
    height: 150px;
  }

  & .FileManager-icon--file {
    width: 150px;
    height: 150px;
    font-size: 150px;
    line-height: 1;
  }

  & .FileManager-contentFileAttr--name {
    position: absolute;
    display:block;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    padding: 5px;
    background-color: color(white);
  }
}