.FieldSuggest {
  position:relative;
}

.FieldSuggest-spinner {
  position: absolute;
  top:50%;
  right:0;
  margin-top:-10px;
  width:20px; height:20px;
  display:none;
}

.FieldSuggest[aria-loaded="true"] .FieldSuggest-spinner{
  display:inherit;
}

.FieldSuggest-picker {
  position: absolute;
  background-color: #fff;
  overflow-y: auto;
  max-height: 20em;
  z-index:10;
}

.FieldSuggest-pickerItem {
  display: block;
  cursor:pointer;
  border-bottom: 1px solid #e4e4e4;
}