/** STYLES DE CONTROLE (recommandé) */
[data-control="notice"][aria-hide="true"] {
    display:none;
}

[data-control="notice"][aria-fade="out"] > * {
    animation-name: themeFadeOut;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/** STYLES GENERAUX */
.tiFyPartial-notice {
    position: relative;
    background-color: #FFF;
    padding: 10px 20px;
    margin-bottom: 20px;
}

.tiFyPartial-notice[aria-type="error"] {
    border-left: solid 3px #DC3232;
}

.tiFyPartial-notice[aria-type="info"] {
    border-left: solid 3px #00A0D2;
}

.tiFyPartial-notice[aria-type="success"] {
    border-left: solid 3px #46B450;
}

.tiFyPartial-notice[aria-type="warning"] {
    border-left: solid 3px #FFB900;
}

.tiFyPartial-notice [data-toggle="notice.dismiss"] {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    padding:2px;
    font-size: 16px;
    line-height: 1;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}