.dataTables_hide {
    display: none;
}

table.dataTable thead th,
table.dataTable thead td {
    border-bottom: 1px solid #e1e1e1;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
    border-top: 1px solid #e1e1e1;
}

table.dataTable td.dataTables_empty {
    text-align: left;
}

table.dataTable thead th,
table.dataTable thead td {
    padding: 8px 10px;
}

table.dataTable th.hidden,
table.dataTable td.hidden {
    display: block;
}