#post-body #normal-sortables {
    min-height: 0;
}

.MetaboxTab-container {
    position: relative;
    margin-bottom: 30px;
}

.MetaboxTab-container,
.MetaboxTab-container * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.MetaboxTab-containerHeader {
    margin: 0;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 1.4;
    background-color: #FFF;
    border-color: #DFDFDF;
    border-style: solid;
    border-width: 1px;
}

.MetaboxTab-wrapper {
    position: relative;
    display: block;
    background-color: #F9F9F9;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    border-color: #DFDFDF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
}

.MetaboxTab-wrapperBack {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 149px;

    background-color: #FFF;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #DDD;
}

.MetaboxTab-wrapperContent {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.MetaboxTab-content {
    padding:10px 10px 30px;
}

.MetaboxTab-container .Tab-nav--top {
    margin-left:-1px;
    background-color: #F9F9F9;
}

/**
 * @deprecated
 */
.tiFyTaboox-TotemList,
.tiFyTaboox-TotemList > * {
    box-sizing: border-box;
}

.tiFyTaboox-TotemList::before,
.tiFyTaboox-TotemList::after {
    display: table;
    content: "";
}

.tiFyTaboox-TotemList::after {
    clear: both;
}

.tiFyTaboox-TotemList {
    margin-left: -10px;
    margin-right: -10px;
}

.tiFyTaboox-TotemListItem {
    float: left;
    width: 25%;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden;
}

.tiFyTaboox-TotemListItem:nth-child(4n+1) {
    clear: both;
}

.tiFyTaboox-TotemListItemWrapper {
    position: relative;
    border: solid 1px #DDD;
    background-color: #F4F4F4;
    height: 280px;
    padding: 10px;
}

.tiFyTaboox-TotemListItemWrapperThumbnail {
    max-width: 100%;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    background-color: #CCC;
    border: solid 1px #DDD;
    object-fit: cover;
}

.tiFyTaboox-TotemListItemWrapperTitle {
    text-transform: uppercase;
    margin: 5px 0 10px;
    text-align: center;
    line-height: 1.2em;
    font-size: 14px;
    height: 2.4em;
}

.tiFyTaboox-TotemList--sortable .MetaboxTab-TotemListItem {
    cursor: move;
}

.tiFyTaboox-TotemListItem--sortablePlaceholder {
    float: left;
    width: 25%;
    display: block;
    background-color: #F4F4F4;
    border: dashed 2px #CCC;
}

.tiFyTaboox-TotemListItem--sortablePlaceholder {
    height: 300px;
    margin-left: 10px;
    margin-right: 10px;
}

/**
 * @TODO
 */
.MetaboxTab-container .ui-sortable-placeholder {
    visibility: visible !important;
}

/** Module de galerie d'images */
/** Images */
.MetaboxTab-container .thumb-list {
    margin: 0;
    padding: 10px;
    list-style-type: none;
    margin-top: 20px;
    margin-left: -10px;
    overflow: hidden;
}

.MetaboxTab-container .thumb-list li {
    position: relative;
    float: left;
    margin: 0;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 10px 10px 25px;
    border: solid 1px #E4E4E4;
    background-color: #F4F4F4;
    cursor: move;
    text-align: center;
    min-height: 150px;
}

.MetaboxTab-container .thumb-list li img {
    display: inline-block;
    margin-bottom: 5px;
    border: solid 1px #DDD;
}

.MetaboxTab-container .thumb-list li h4 {
    margin: 5px 0;
    height: 2.4em;
    overflow: hidden;
    line-height: 1.2;
    text-overflow: ellipsis;
}

.MetaboxTab-container .thumb-list .ui-sortable-placeholder {
    min-width: 150px;
    min-height: 130px;
    border: dashed 3px #E4E4E4;
    background: #F4F4F4;
}

.MetaboxTab-container .thumb-list .order {
    position: absolute;
    bottom: -2px;
    right: -2px;
    font-size: 0.8em;
    text-align: center;
    padding: 0.1em;
}

.MetaboxTab-container .thumb-list .post_status {
    position: absolute;
    bottom: 0;
    left: 10px;
    font-size: 0.9em;
    color: #0074A2;
}

/** Zone d'ajout de vignette */
.MetaboxTab-container .add-thumb-area-150 {
    position: relative;
    width: 150px;
    height: 150px;
    border: dashed 3px #E4E4E4;
    background: #F4F4F4;

    vertical-align: middle;
}

.MetaboxTab-container .add-thumb-area-150 a.add {
    position: absolute;
    display: block;
    color: #666;
    margin: 0;
    padding: 70px 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 14px;
    line-height: 1em;
}

.MetaboxTab-container .add-thumb-area-150 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    z-index: 2;
}

.MetaboxTab-container .add-thumb-area-150 a.remove {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 3;
    display: none;
}

.MetaboxTab-container .add-thumb-area-150:hover a.remove {
    display: block;
}