@import "variables";
@import "functions";

// BOUTONS
// Bouton > Suppression
.ThemeButton--remove {
  & {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    display: block;
    border-color: transparent #F4F4F4 transparent transparent;
    border-style: solid;
    border-width: 0 35px 35px 0;
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    border-color: transparent #E4E4E4 transparent transparent;
    transform: scale(1.05) perspective(1px);
  }

  &::before {
    position: absolute;
    z-index: 15;
    right: -36px;
    top: 1px;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    content: "\f335";
    font: normal 20px/1 Dashicons;
    color: #0074A2;
    transition: transform 0.2s ease-in-out;
  }

  &:hover::before {
    transform: rotate(90deg) perspective(1px);
  }
}

// FICHE ELEMENTS
.ThemeCards {
  list-style-type: none;
  margin: 0 -10px;
  overflow: hidden;
  box-sizing: border-box;
}

.ThemeCards.ui-sortable .ThemeCard {
  cursor: move;
}

.ThemeCard {
  & {
    float: left;
    margin: 0 0 10px;
    padding: 0 10px;
  }

  & .CardContainer {
    position: relative;
    padding: 10px 10px 25px;
    border: solid 1px #E4E4E4;
    background-color: #F4F4F4;
    text-align: center;
    min-height: 150px;
  }

  & .CardImg {
    display: inline-block;
    margin-bottom: 5px;
    border: solid 1px #DDD;
    height: 150px;
    width: 150px;
  }

  & .CardTitle {
    margin: 5px 0;
    height: 2.4em;
    overflow: hidden;
    line-height: 1.2;
    text-overflow: ellipsis;
  }

  & .CardOrder {
    position: absolute;
    bottom: -2px;
    right: -2px;
    font-size: 0.8em;
    text-align: center;
    padding: 0.1em;
  }
}

// CHAMP DE SAISIE
// ex. <div class="ThemeInput--email"><input .../></div>
div[class*="ThemeInput--"] {
  & {
    position: relative;
    display: inline-block;
    padding-right: 30px;
  }

  &::before {
    position: absolute;
    top: 1px;
    right: 0;
    bottom: 1px;
    width: 30px;
    background-color: #F4F4F4;
    border: 1px solid #ddd;
    text-align: center;
    display: block;
    content: "";
  }

  &::after {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    width: 30px;
    margin-top: -10px;
    line-height: 100%;
    font: normal 20px/1 Dashicons;
    color: #7eb4ea;
    text-align: center;
    display: block;
  }

  & > input {
    width: 100%;
  }
}

.ThemeInput {
  &--building::after {
    content: "\f512";
  }

  &--editor-quote::after {
    content: "\f205";
  }

  &--email::after {
    content: "\f466";
  }

  &--generic::after {
    content: "\f111";
  }

  &--link::after {
    content: "\f103";
  }

  &--media::after {
    content: "\f104";
  }

  &--phone::after {
    content: "\f525";
  }

  &--search::after {
    content: "\f179";
  }

  &--user::after {
    content: "\f110";
  }
}

/**
 * SPINNER
 * encodage PHP du svg en base64 pour modifier la couleur par ex :
 * preg_replace( '/\+/', ' ', urlencode('<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 -256 1792 1792" fill="#000000"><g transform="matrix(1,0,0,-1,121.49153,1315.7966)"><path d="M 496,192 Q 496,132 453.5,90 411,48 352,48 q -60,0 -102,42 -42,42 -42,102 0,60 42,102 42,42 102,42 59,0 101.5,-42 Q 496,252 496,192 z M 928,0 Q 928,-53 890.5,-90.5 853,-128 800,-128 747,-128 709.5,-90.5 672,-53 672,0 672,53 709.5,90.5 747,128 800,128 853,128 890.5,90.5 928,53 928,0 z M 320,640 Q 320,574 273,527 226,480 160,480 94,480 47,527 0,574 0,640 q 0,66 47,113 47,47 113,47 66,0 113,-47 47,-47 47,-113 z M 1360,192 q 0,-46 -33,-79 -33,-33 -79,-33 -46,0 -79,33 -33,33 -33,79 0,46 33,79 33,33 79,33 46,0 79,-33 33,-33 33,-79 z M 528,1088 Q 528,1015 476.5,963.5 425,912 352,912 279,912 227.5,963.5 176,1015 176,1088 q 0,73 51.5,124.5 51.5,51.5 124.5,51.5 73,0 124.5,-51.5 Q 528,1161 528,1088 z m 464,192 q 0,-80 -56,-136 -56,-56 -136,-56 -80,0 -136,56 -56,56 -56,136 0,80 56,136 56,56 136,56 80,0 136,-56 56,-56 56,-136 z m 544,-640 q 0,-40 -28,-68 -28,-28 -68,-28 -40,0 -68,28 -28,28 -28,68 0,40 28,68 28,28 68,28 40,0 68,-28 28,-28 28,-68 z m -208,448 q 0,-33 -23.5,-56.5 -23.5,-23.5 -56.5,-23.5 -33,0 -56.5,23.5 -23.5,23.5 -23.5,56.5 0,33 23.5,56.5 23.5,23.5 56.5,23.5 33,0 56.5,-23.5 23.5,-23.5 23.5,-56.5 z"/></g></svg>'));
 */
.ThemeSpinner {
  display: inline-block;
  width: 24px;
  height: 24px;
  text-align: center;
  vertical-align: center;
  -webkit-animation: themeSpinner 1s infinite steps(8);
  animation: themeSpinner 1s infinite steps(8);
}

.ThemeSpinner::after {
  content: url("data:image/svg+xml;charset=UTF-8,%3Csvg version%3D%221.1%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 -256 1792 1792%22 fill%3D%22%23000000%22%3E%3Cg transform%3D%22matrix%281%2C0%2C0%2C-1%2C121.49153%2C1315.7966%29%22%3E%3Cpath d%3D%22M 496%2C192 Q 496%2C132 453.5%2C90 411%2C48 352%2C48 q -60%2C0 -102%2C42 -42%2C42 -42%2C102 0%2C60 42%2C102 42%2C42 102%2C42 59%2C0 101.5%2C-42 Q 496%2C252 496%2C192 z M 928%2C0 Q 928%2C-53 890.5%2C-90.5 853%2C-128 800%2C-128 747%2C-128 709.5%2C-90.5 672%2C-53 672%2C0 672%2C53 709.5%2C90.5 747%2C128 800%2C128 853%2C128 890.5%2C90.5 928%2C53 928%2C0 z M 320%2C640 Q 320%2C574 273%2C527 226%2C480 160%2C480 94%2C480 47%2C527 0%2C574 0%2C640 q 0%2C66 47%2C113 47%2C47 113%2C47 66%2C0 113%2C-47 47%2C-47 47%2C-113 z M 1360%2C192 q 0%2C-46 -33%2C-79 -33%2C-33 -79%2C-33 -46%2C0 -79%2C33 -33%2C33 -33%2C79 0%2C46 33%2C79 33%2C33 79%2C33 46%2C0 79%2C-33 33%2C-33 33%2C-79 z M 528%2C1088 Q 528%2C1015 476.5%2C963.5 425%2C912 352%2C912 279%2C912 227.5%2C963.5 176%2C1015 176%2C1088 q 0%2C73 51.5%2C124.5 51.5%2C51.5 124.5%2C51.5 73%2C0 124.5%2C-51.5 Q 528%2C1161 528%2C1088 z m 464%2C192 q 0%2C-80 -56%2C-136 -56%2C-56 -136%2C-56 -80%2C0 -136%2C56 -56%2C56 -56%2C136 0%2C80 56%2C136 56%2C56 136%2C56 80%2C0 136%2C-56 56%2C-56 56%2C-136 z m 544%2C-640 q 0%2C-40 -28%2C-68 -28%2C-28 -68%2C-28 -40%2C0 -68%2C28 -28%2C28 -28%2C68 0%2C40 28%2C68 28%2C28 68%2C28 40%2C0 68%2C-28 28%2C-28 28%2C-68 z m -208%2C448 q 0%2C-33 -23.5%2C-56.5 -23.5%2C-23.5 -56.5%2C-23.5 -33%2C0 -56.5%2C23.5 -23.5%2C23.5 -23.5%2C56.5 0%2C33 23.5%2C56.5 23.5%2C23.5 56.5%2C23.5 33%2C0 56.5%2C-23.5 23.5%2C-23.5 23.5%2C-56.5 z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.ThemeSpinner--white::after {
  content: url("data:image/svg+xml;charset=UTF-8,%3Csvg version%3D%221.1%22 xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 -256 1792 1792%22 fill%3D%22%23FFFFFF%22%3E%3Cg transform%3D%22matrix%281%2C0%2C0%2C-1%2C121.49153%2C1315.7966%29%22%3E%3Cpath d%3D%22M 496%2C192 Q 496%2C132 453.5%2C90 411%2C48 352%2C48 q -60%2C0 -102%2C42 -42%2C42 -42%2C102 0%2C60 42%2C102 42%2C42 102%2C42 59%2C0 101.5%2C-42 Q 496%2C252 496%2C192 z M 928%2C0 Q 928%2C-53 890.5%2C-90.5 853%2C-128 800%2C-128 747%2C-128 709.5%2C-90.5 672%2C-53 672%2C0 672%2C53 709.5%2C90.5 747%2C128 800%2C128 853%2C128 890.5%2C90.5 928%2C53 928%2C0 z M 320%2C640 Q 320%2C574 273%2C527 226%2C480 160%2C480 94%2C480 47%2C527 0%2C574 0%2C640 q 0%2C66 47%2C113 47%2C47 113%2C47 66%2C0 113%2C-47 47%2C-47 47%2C-113 z M 1360%2C192 q 0%2C-46 -33%2C-79 -33%2C-33 -79%2C-33 -46%2C0 -79%2C33 -33%2C33 -33%2C79 0%2C46 33%2C79 33%2C33 79%2C33 46%2C0 79%2C-33 33%2C-33 33%2C-79 z M 528%2C1088 Q 528%2C1015 476.5%2C963.5 425%2C912 352%2C912 279%2C912 227.5%2C963.5 176%2C1015 176%2C1088 q 0%2C73 51.5%2C124.5 51.5%2C51.5 124.5%2C51.5 73%2C0 124.5%2C-51.5 Q 528%2C1161 528%2C1088 z m 464%2C192 q 0%2C-80 -56%2C-136 -56%2C-56 -136%2C-56 -80%2C0 -136%2C56 -56%2C56 -56%2C136 0%2C80 56%2C136 56%2C56 136%2C56 80%2C0 136%2C-56 56%2C-56 56%2C-136 z m 544%2C-640 q 0%2C-40 -28%2C-68 -28%2C-28 -68%2C-28 -40%2C0 -68%2C28 -28%2C28 -28%2C68 0%2C40 28%2C68 28%2C28 68%2C28 40%2C0 68%2C-28 28%2C-28 28%2C-68 z m -208%2C448 q 0%2C-33 -23.5%2C-56.5 -23.5%2C-23.5 -56.5%2C-23.5 -33%2C0 -56.5%2C23.5 -23.5%2C23.5 -23.5%2C56.5 0%2C33 23.5%2C56.5 23.5%2C23.5 56.5%2C23.5 33%2C0 56.5%2C-23.5 23.5%2C-23.5 23.5%2C-56.5 z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

// ANIMATIONS
@keyframes themeFadeOut {
  0% {
    height: initial;
  }
  99% {
    height: initial;
    opacity: 0;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@keyframes themeSpinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}