.FieldSelectImage {
    display: inline-block;
    overflow: hidden;
    height: auto;
}

.FieldSelectImage-selectionItem,
.FieldSelectImage-pickerItem {
    margin:0;
    padding: 0;
    width: 100px;
    height: 100px;
}

.FieldSelectImage-selectionItem > img,
.FieldSelectImage-pickerItem > img {
    position: absolute;
    top: 50%;
    max-width: 100px;
    max-height: 100px;
    height: auto;
    width: 100%;
    transform: translateY(-50%);
}