[data-control="password-js"] {
    position: relative;
}

[data-control="password-js.toggle"]::before {
    position: absolute;
    font-family: "dashicons";
    content: "\f530";
    top: 50%;
    left: 5px;
    font-size: 20px;
    margin-top: -10px;
    line-height: 1.1;
    cursor: pointer;
    z-index: 1;
}

[data-control="password-js"][aria-hide="true"] [data-control="password-js.toggle"]::before {
    content: "\f177";
}

[data-control="password-js"] [data-control="password-js.toggle"] {
    position: absolute;
    content: "";
    width: 30px;
    top: 0px;
    bottom: 0px;
    left: 0;
    background-color: #F4F4F4;
    border: solid 1px #DDD;
    box-shadow: 0px 0px 1px 0px #ccc;
}

[data-control="password-js"] .tiFyField-passwordJsWrapper::before {
    position: absolute;
    font-family: "dashicons";
    content: "\f112";
    top: 50%;
    right: 5px;
    font-size: 20px;
    margin-top: -10px;
    line-height: 1.1;
    color: #AAA;
}

[data-control="password-js"] .tiFyField-passwordJsWrapper {
    position: relative;
    display: inline-block;
    font-size: 14px;
}

[data-control="password-js"].loading .tiFyField-passwordJsWrapper::before {
    content: "\f463";
    margin-top: -10px;
    -webkit-animation: rotating 2s infinite linear;
    animation: rotating 2s infinite linear;
}

.Field-passwordJs {
    padding-right: 25px;
    padding-left: 35px !important;
    width: 100%;
}

@-webkit-keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes rotating {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}