.tiFyControlCurtainMenu {
    position: relative;
    min-height: 400px;
    overflow-x: hidden;

    background-color: #FFF;
}

.tiFyControlCurtainMenu-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
}

.tiFyControlCurtainMenu-panel {
    position: absolute !important;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;

    z-index: 1;
}

.tiFyControlCurtainMenu-panelWrapper {
    position: static;
    height: 100%;
    background-color: #FFF;
}

.tiFyControlCurtainMenu-panelContainer {
    width: 100%;
    height: 100%;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;

    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

.tiFyControlCurtainMenu-panelContainer::-webkit-scrollbar {
    display: none;
}

.tiFyControlCurtainMenu-panelTitle,
.tiFyControlCurtainMenu-panelBack,
.tiFyControlCurtainMenu-itemLink {
    position: relative;
    display: block;
}

.tiFyControlCurtainMenu-items {
    margin: 0;
    padding: 0;
}

.tiFyControlCurtainMenu-item {
    margin: 0;
    padding: 0;
}

.tiFyControlCurtainMenu-panelTitle {
    padding: 20px 30px 20px 20px;
}

.tiFyControlCurtainMenu-panelBack,
.tiFyControlCurtainMenu-itemLink {
    padding: 10px 20px;
}

.tiFyControlCurtainMenu-panelTitle {
    margin: 0;
}

.tiFyControlCurtainMenu-panelTitleLink {
    position: relative;
    display: block;
    padding: 20px 30px 20px 20px;
    margin: -20px -30px -20px -20px;
}

.tiFyControlCurtainMenu-panelBack {
    padding-left: 30px;
}

.tiFyControlCurtainMenu-panelTitleLink::before,
.tiFyControlCurtainMenu-panelBack::before,
.tiFyControlCurtainMenu-item--hasChildren > .tiFyControlCurtainMenu-itemLink::before {
    position: absolute;
    top: 50%;
    display: block;
    line-height: 1;
    margin-top: -7px;

    font-size: 14px;
    font-family: "Dashicons";
}

.tiFyControlCurtainMenu-panelTitleLink::before {
    right: 8px;
    margin-top: -10px;
    font-size: 20px;
    content: "\f344";
}

.tiFyControlCurtainMenu-panelBack::before {
    left: 5px;
    content: "\f341";
}

.tiFyControlCurtainMenu-item--hasChildren > .tiFyControlCurtainMenu-itemLink::before {
    right: 5px;
    content: "\f345";
}

/**
 * THEMES
 */
/**
 * Light
 */
.tiFyControlCurtainMenu--light .tiFyControlCurtainMenu-panelTitleLink,
.tiFyControlCurtainMenu--light .tiFyControlCurtainMenu-panelBack,
.tiFyControlCurtainMenu--light .tiFyControlCurtainMenu-itemLink,
.tiFyControlCurtainMenu--light .tiFyControlCurtainMenu-item--current > .tiFyControlCurtainMenu-itemLink {
    color: #000;
}

.tiFyControlCurtainMenu--light .tiFyControlCurtainMenu-panelTitleLink {
    background-color: #FFFFFF;
}

.tiFyControlCurtainMenu--light .tiFyControlCurtainMenu-panelBack {
    background-color: #E4E4E4;
}

.tiFyControlCurtainMenu--light .tiFyControlCurtainMenu-itemLink {
    background-color: #FFFFFF;
    border-bottom: solid 1px #E4E4E4;
}

.tiFyControlCurtainMenu--light .tiFyControlCurtainMenu-item--current > .tiFyControlCurtainMenu-itemLink {
    background-color: #F4F4F4;
}

.tiFyControlCurtainMenu--light .tiFyControlCurtainMenu-panelTitleLink:hover,
.tiFyControlCurtainMenu--light :not(.tiFyControlCurtainMenu-item--current) > .tiFyControlCurtainMenu-itemLink:hover {
    background-color: #F4F4F4;
}

.tiFyControlCurtainMenu--light .tiFyControlCurtainMenu-panelBack:hover {
    background-color: #D9D9D9;
}

/**
 * Dark
 */
.tiFyControlCurtainMenu--dark .tiFyControlCurtainMenu-panelTitleLink,
.tiFyControlCurtainMenu--dark .tiFyControlCurtainMenu-panelBack,
.tiFyControlCurtainMenu--dark .tiFyControlCurtainMenu-itemLink,
.tiFyControlCurtainMenu--dark .tiFyControlCurtainMenu-item--current > .tiFyControlCurtainMenu-itemLink {
    color: #EEE;
}

.tiFyControlCurtainMenu--dark .tiFyControlCurtainMenu-panelTitleLink {
    background-color: #23282D;
}

.tiFyControlCurtainMenu--dark .tiFyControlCurtainMenu-panelBack {
    background-color: #161A1D;
}

.tiFyControlCurtainMenu--dark .tiFyControlCurtainMenu-itemLink {
    background-color: #23282D;
    border-bottom: solid 1px #2C333A;
}

.tiFyControlCurtainMenu--dark .tiFyControlCurtainMenu-item--current > .tiFyControlCurtainMenu-itemLink {
    background-color: #374048;
}

.tiFyControlCurtainMenu--dark .tiFyControlCurtainMenu-panelTitleLink:hover,
.tiFyControlCurtainMenu--dark :not(.tiFyControlCurtainMenu-item--current) > .tiFyControlCurtainMenu-itemLink:hover {
    background-color: #374048;
}

.tiFyControlCurtainMenu--dark .tiFyControlCurtainMenu-panelBack:hover {
    background-color: #0B0D0E;
}

/**
 * ANIMATION
 */
.tiFyControlCurtainMenu-panel {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;

    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.tiFyControlCurtainMenu-panel--open {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.tiFyControlCurtainMenu-panelTitleLink,
.tiFyControlCurtainMenu-panelBack,
.tiFyControlCurtainMenu-itemLink {
    -moz-transition: background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
    -ms-transition: background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
    -o-transition: background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
    -webkit-transition: background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
    transition: background-color 300ms cubic-bezier(0.42, 0, 1.0, 1.0);
}


