.tiFyField-datetimeJs * {
    vertical-align: middle;
}

input.tiFyField-datetimeJsField,
select.tiFyField-datetimeJsField {
    width: 3.6em;
    line-height: 100%;
    height: 2em;
    margin: 0;
    font-size: 14px;
    box-shadow: none;
}

input.tiFyField-datetimeJsField--year,
select.tiFyField-datetimeJsField--month {
    width: 5em;
}

.tiFyField-datetimeJs.invalid .tiFyField-datetimeJsField {
    border-color: red;
}